/* * =============== 
   * Global styles 
   * =============== */

:root {
   --text: #112244;
   --background: #dcdcdc;
   --primary-button: #1b3c7e;
   --secondary-button: #303e5a;
   --accent: #1b3c7e;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

html,
body {
   background: radial-gradient(var(--accent) 6%, var(--background) 0);
   background-position: 0 0;
   background-size: 5vmin 5vmin;
   background-attachment: fixed;

   scroll-padding-top: 30px;
   color: var(--text);
   font-family: sans-serif;
   margin: 0;
   line-height: 1.7;
   text-align: justify;
}

main {
   margin: 0 auto 0 auto;
   display: block;
   width: min(100% - 10rem, 100ch);
   background: var(--background);
   padding-top: 10px;
}

main a {
   color: var(--accent);
}

main a:hover {
   color: var(--secondary-button);
   opacity: 0.9;
}

article {
   padding: 1rem;
}

/* * =============== 
   *     Footer 
   * =============== */

footer {
   font-size: 0.8rem;
   background: var(--secondary-button);
   color: var(--background);
   padding: 10px;
   display: flex;
   justify-content: center;
   align-items: start;
   padding-bottom: 60px;
}

footer .header {
   font-size: 1rem;
   font-weight: 600;
   padding-bottom: 8px;
}

footer ul {
   padding: 0 30px;
}

footer li {
   list-style: none;
   overflow: hidden;
}

footer a {
   color: var(--background);
   text-decoration: none;
   position: relative;
}

footer a::after {
   content: "";
   position: absolute;
   bottom: 0;
   left: -100%;
   width: 100%;
   height: 2px;
   background: var(--background);

   transition: left 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

footer a:hover::after {
   left: 0;
}

/* * =============== 
   *   Typography 
   * =============== */

h1,
h2,
h3 {
   text-align: center;
}

h1 {
   font-size: 2.25rem;
}

h2 {
   font-size: 1.8rem;
}

p {
   text-align: justify;
   font-size: 1.3rem;
}

/* * =============== 
   *    Classes 
   * =============== */

.caption {
   font-size: 1rem;
}

.break {
   width: 100%;
   height: 10px;
   background: var(--accent);
   position: relative;
}

.image-wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 1rem;
}

.row {
   flex-direction: row;
}

.col {
   flex-direction: column;
}

/* * =============== 
   *    Tooltips 
   * =============== */

span[data-tool-tip] {
   cursor: help;
   position: relative;
   color: var(--accent);
   text-decoration: underline dashed var(--accent);
}

span[data-tool-tip]::after {
   content: attr(data-tool-tip);
   display: block;
   position: absolute;
   background: var(--secondary-button);
   padding: 0.3rem;
   color: var(--background);
   border-radius: 5px;
   bottom: 1%;
   left: 0;
   transform: translateX(-50%);
   white-space: nowrap;
   opacity: 0;
   transform: scale(0);
   width: fit-content;
   height: fit-content;

   transition: bottom ease-out 0.5s, opacity ease-out 0.5s;
}

span[data-tool-tip]:hover::after {
   transform: scale(1);
   bottom: 100%;
   opacity: 1;
}

/* * =============== 
   *   Scrollbar 
   * =============== */

::-webkit-scrollbar {
   background-color: var(--text);
   width: 25px;
}

::-webkit-scrollbar-thumb {
   background-color: var(--accent);
}

/* * =============== 
   *   Header/Nav 
   * =============== */

header {
   text-align: center;
   background-color: transparent;
   user-select: none;
}

header h1 {
   font-size: 50px;
   margin: 0px;
   padding: 20px;
}

nav {
   background-color: var(--secondary-button);
   display: flex;
   justify-content: center;
}

nav * {
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   height: inherit;
   font-size: 17px;
   color: var(--background);
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
   transition: background-color, 0.25s;
   font-weight: bold;
}

nav *.active {
   background-color: var(--background);
   color: var(--text);
}

nav *:hover:not(.active) {
   background-color: var(--primary-button);
}
